.transparent {
	background: rgba(245, 245, 245, 0.8);
}
.body{
	background-image: url('../img/bg.jpg'); background-size:100% auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'Averia Sans Libre', cursive;
}

.bg1{
	background-image: url('../img/bg1.jpg'); background-size:100% auto;
}

.bg2{
	background-image: url('../img/bg2.jpg'); background-size:100% auto;
}

.bg3{
	background-image: url('../img/bg3.jpg'); background-size:100% auto;
}

.bg4{
	background-image: url('../img/bg4.jpg'); background-size:100% auto;
}

.big{
	font-size:46px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.carousel-caption {
      max-width: 550px;
      padding: 0 20px;
      margin:0 auto;
      margin-top: 200px;
      text-align:center;
}


.golfClubImgs {
	height: 200px;
	max-height: 300px;
	/*width: 1200px;*/
	overflow: hidden;
}

.arrow_dx{
	background-image: url('../img/arrow_dx.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 0% 100%;
	margin-top: 100px;
	height: 120px;
}

.arrow_dx_sm{
	background-image: url('../img/arrow_dx_sm.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 0% 100%;
	margin-top: 100px;
	height: 120px;
}

.arrow_sx{
	background-image: url('../img/arrow_sx.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 80% 100%;
	margin-top: 100px;
	height: 120px;
}

.finale{
	background-image: url('../img/finale.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 0%;
	height: 470px;
}

.logo{
	margin-top: 5px;
	margin-left: 20px;
}
