.transparent {
	background: rgba(245, 245, 245, 0.8);
}
.body{
background-image: url('../img/bg.jpg'); background-size:100% auto;
	background-repeat: no-repeat;
}

.big{
	font-size:46px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}


.golfClubImgs {
	height: 200px;
	max-height: 300px;
	/*width: 1200px;*/
	overflow: hidden;
}
