.transparent {
	background: rgba(245, 245, 245, 0.8);
}
.body{
background-image: url('../img/bg.jpg'); background-size:100% auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.big{
	font-size:46px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}


.golfClubImgs {
	height: 200px;
	max-height: 300px;
	/*width: 1200px;*/
	overflow: hidden;
}

.arrow_dx{
	background-image: url('../img/arrow_dx.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 30% 100%;
	margin-top: 100px;
	height: 120px;
}

.arrow_sx{
	background-image: url('../img/arrow_sx.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 30% 100%;
	margin-top: 100px;
	height: 120px;
}
